@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #0f0327;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #07030d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.inter-body {
  font-family: var(--font-inter), sans-serif !important;
}

.cinzel-font {
  font-family: var(--font-cinzel), serif !important;
}


@keyframes spinY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.spin-y {
  transform-style: preserve-3d;
  backface-visibility: hidden;

  /* base state */
  transform: rotateY(0deg);
  transition: transform 0.4s ease-out;
}

.spin-y:hover {
  animation: spinY 3s linear infinite;
}

/* force reset when hover ends */
.spin-y:not(:hover) {
  animation: none;
  transform: rotateY(0deg);
  transition: transform 0.4s ease;
}


.Welcome-text {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)
        ),
        linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%) !important;
    background-blend-mode: normal, screen !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.Welcome-box {
    isolation: isolate;
    overflow: hidden !important;
    align-items: center !important;
    -webkit-backdrop-filter: blur(6px) !important;
    backdrop-filter: blur(6px) !important;
    border-radius: 32px !important;
    box-shadow: inset 0 -7px 11px #a48fff1f !important;
    display: flex !important;

    position: relative !important;
    width: -moz-max-content !important;
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow !important;
}

.button-primary {
    background: linear-gradient(
            180deg,
            rgba(60, 8, 126, 0) 0%,
            rgba(60, 8, 126, 0.32) 100%
        ),
        rgba(113, 47, 255, 0.12);
    box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
    background: linear-gradient(
            180deg,
            rgba(60, 8, 126, 0) 0%,
            rgba(60, 8, 126, 0.42) 100%
        ),
        rgba(113, 47, 255, 0.24);
    box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* This styles the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* This styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

/* Changes the thumb color on hover or when being clicked */
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/* This styles the scrollbar itself (width, height) */
::-webkit-scrollbar {
    width: 10px;
}

.glass-background{
  
}
